@{
    ViewData["Title"] = "Home Page";
}

<div class="row text-center justify-content-center">
    <div class="col col-sm-8 col-10">
        <p class="display-6">Bem-vindo ao Bolão da Copa do Mundo 2022</p>
        
        <section>    
            <p class="text-muted">
                Esta aplicação foi desenvolvida por <a href="https://github.com/MaxDolabella">Max Dolabella</a> 
                e ao contrário do <a href="https://twitter.com/hashtag/ImpeachmentAlexandreDeMoraes">TSE</a>,
                liberei o <a href="https://twitter.com/hashtag/BrazilWasStolen">código-fonte</a> que pode ser 
                visto aqui: <a href="https://github.com/MaxDolabella/Maxsys.WorldCupPredictTheScore">link</a>
            </p>
        </section>

        <hr/>
    
        <section>
            <h2>Como funciona</h2>
            <p>Para participar, realize seu cadastro e me contate, de preferência pelo whatsapp.</p>
            <p>Após eu liberar seu login, você poderá palpitar nos jogos.</p>
        </section>

        <hr/>

        <section>
            <h2>Pontuação</h2>

            <p>
                A pontuação para este bolão foi baseado no bolão no <a href="https://blog.nubank.com.br/nubolao-app-nubank/">NuBank</a>.
                A pontuação é a seguinte:
            </p>
            
            <br/>
            
            <div class="row justify-content-center">
                <div class="col col-auto ">
                    <table class="table table-sm table-striped">
                    <thead>
                        <tr>
                            <th>Pontos</th>
                            <th>Condição</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>25</td>
                            <td class="text-md-start">Acertar o placar exato da partida</td>
                        </tr>
                        <tr>
                            <td>18</td>
                            <td class="text-md-start">Acertar o vencedor e o número de gols da equipe vencedora</td>
                        </tr>
                        <tr>
                            <td>15</td>
                            <td class="text-md-start">Acertar o vencedor e a diferença de gols entre o vencedor e o perdedor<br />Acertar que a partida terminaria em empate (porém errar o número de gols)</td>
                        </tr>   
                        <tr>
                            <td>12</td>
                            <td class="text-md-start">Acertar o time vencedor e o número de gols do time perdedor</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td class="text-md-start">Acertar apenas o vencedor da partida</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td class="text-md-start">Consolação por ter palpitado</td>
                        </tr>
                        <tr>
                            <td>0</td>
                            <td class="text-md-start">Não palpitar</td>
                        </tr>
                    </tbody>
                </table>
                </div>
            </div>

            <br />

            <p>
                Esses pontos <strong>não</strong> são cumulativos em uma mesma partida.
                <br/>
                Por exemplo: se você acertar o placar da partida (25 pontos) e acertar o vencedor (10 pontos), 
                esses dois critérios não serão somados. O que vai contar é o critério que vale mais pontos. 
                Ou seja, o participante pode conseguir, no máximo, 25 pontos por partida.
            </p>

        </section>
    </div>
</div>
